ion-content{
    background-image: url(https://i.imgur.com/lthZjcP.jpg);
    background-size: cover;
    display: flex;
}

ion-item, ion-select, .result{
    color: #fff;
}

.plusб ,h3{
    text-align: center;
    color: #fff;
}

h3{
    margin-top: 10%;
}

.item-md, .label-md{
    text-align: center;
}

.select-text{
    color:#2e2e2e;
    display: none;
}

.item{
    background-color: rgba(0,0,0, .6);
    color: #fff;
}

.scroll-content{
    flex-direction: column;
    align-items: center;
}

.item-md.item-block .item-inner{
    border-bottom: none;
}

.plus{
    background-color: rgba(0,0,0, .6);
    border-radius: 15px;
}

.end{
    margin-top: 70px;
}



// .select-md .select-icon{
//     display: none;
//     padding: 0 !important;
// }

// .item-md.item-block .item-inner{
//     padding-right: 0;
// }



