.result{
	color: #fff;
    font-size: 18px;
    padding: 10px;
    background-color: rgba(0,0,0, .6);
    border-radius: 10px;
}

.item-title{
	font-weight: bold;
	font-size: 24px;
	margin-left: 15px;
	color: #fff;
}

.sub-item{
	font-weight: bold; color: #fff;
	font-size: 14px;
}